{% extends "base.html"%}

{% block titulo %}
    New trade
{% endblock %}

{% block contenido %}

<nav class="container" id="navbar">
    <ul>
        <li><a href="/">Inicio</a></li>
        <li><a href="/calcular">Trade</a></li>
        <li><a href="/status">Status</a></li>
    </ul>
</nav>

    <h1>Alta</h1>

    <form action="/alta" method="post">
        <div class="grid">
        <label>Fecha:</label>
            {{ fecha }}
        </div>
        <div class="grid">
        <label>Hora:</label>
            {{ hora }}
        </div>
        <div class="grid">
        <label>Origen:</label>
            {{ origen }}
        </div>
        <div class="grid">
        <label>Qfrom:</label>
            {{ Qfrom }}
        </div>
        <div class="grid">
        <label>Destino:</label>
            {{ destino }}
        </div>
        <div class="grid">
        <label>Resultado:</label>
            {{ result }}
        </div>

    </br>

    <div class="grid">
        <input type="submit" value="Aceptar"/>
        <a href="/" role="button">❌</a>
    </div>
    </form>


{% endblock %}
