{% extends "base.html"%}

{% block titulo %}
    New trade
{% endblock %}

{% block contenido %}

<nav class="container" id="navbar">
    <ul>
        <li><a href="/">Inicio</a></li>
        <li>Trade</li>
        <li><a href="/status">Status</a></li>
    </ul>
</nav>

    <h1>Python CryptoConverter</h1>

    <form method="post" action="{{ url_for('resultado') }}" id="CryptosForm">
        <label for="origen">origen:</label>
        <select name="origen" id="origen">
            <option value="EUR">EUR</option>
            <option value="BTC">BTC</option>
            <option value="ETH">ETH</option>
            <option value="BNB">BNB</option>
            <option value="LUNA">LUNA</option>
            <option value="SOL">SOL</option>
            <option value="BCH">BCH</option>
            <option value="LINK">LINK</option>
            <option value="ATOM">ATOM</option>
            <option value="USDT">USDT</option>
        </select>
        <br/>
        <div>
            <label for="Qfrom">Qfrom:</label>
            <input type="number" name="Qfrom" id="Qfrom" min="0" step="0.01" value="0.00">
        </div>
        <label for="destino">destino:</label>
        <select name="destino" id="destino">
            <option value="EUR">EUR</option>
            <option value="BTC">BTC</option>
            <option value="ETH">ETH</option>
            <option value="BNB">BNB</option>
            <option value="LUNA">LUNA</option>
            <option value="SOL">SOL</option>
            <option value="BCH">BCH</option>
            <option value="LINK">LINK</option>
            <option value="ATOM">ATOM</option>
            <option value="USDT">USDT</option>
        </select>

        </br>
        <br/>
        <div>Qto: {{ result }}</div>

    </br></br>
    <div class="grid">
        <input type="submit" value="Aceptar"/>
        <input type="reset"  value="Reset"/>
        <a href="/" role="button">❌</a>
    </div>
    </form>
</br>
</br>


{% endblock %}