{% extends "base.html" %}

{% block titulo%}
    Listado
{% endblock %}

{% block contenido %}

<nav class="container" id="navbar">
    <ul>
        <li>Inicio</li>
        <li><a href="/calcular">Trade</a></li>
        <li><a href="/status">Status</a></li>
    </ul>
</nav>

    <h1>Listado de trades realizados</h1>

<!--<form action ="http://localhost:5000/result" name=formulario id="formu" method = "POST">-->
    <table class="movimientos">
        <tr>
            <th>Fecha</th>
            <th>Hora</th>
            <th>From</th>
            <th>Qfrom</th>
            <th>To</th>
            <th>Qto</th>
        </tr>
        {% for movimiento in movimientos %}
        <tr>
            <td>{{ fecha }}</td>
            <td>{{ hora }}</td>
            <td>{{ origen }}</td>
            <td>{{ Qfrom }}</td>
            <td>{{ destino }}</td>
            <td>{{ Qto }}</td>
        </tr>
        {% endfor%}
    </table>

    <a href="/calcular" role="button">+ Trade</a>

{% endblock %}